/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif; /* Set default font family */
  /* background: #f9f5f3; */
  background: linear-gradient(to right bottom, #fbdb89, #d3c7c3);
}
