/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif; /* Set default font family */
  background: #222;
  /* background: linear-gradient(to right bottom, #e4601e, #d94214d1); */
}

.loading {
  text-align: center;
  animation: loading 1.2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    color: #e9e9e9;
  }
  50% {
    color: #b89b84;
  }
  100% {
    color: #e9e9e9;
  }
}

@media screen and (max-width: 390px) {
  /* iPhone 12, iPhone 12 Pro */
  .header-content {
    padding: 1rem;
  }
  .hero-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 428px) {
  .header-content {
    padding: 1.25rem;
  }
  .hero-title {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 393px) {
  .header-content {
    padding: 1rem;
  }
  .hero-title {
    font-size: 1.5rem;
  }
}
